---
- name: my test run
  hosts: all
  gather_facts: true
  become: true
  vars_files:
    - web.yml
    - app.yml
    - all.yml

  tasks:
    - name: Load Terraform outputs
      set_fact:
        tf_outputs: "{{ lookup('file', 'tf_outputs.json') | from_json }}"

    - name: Display all server name and all port
      debug:
        msg: "All Server Name: {{ server_name }}, All Port: {{ port_number }}"

    - name: copy jinja2 template file to remote server from "APP"
      command: mkdir -p /tmp/all

    - name: copy jinja2 template file to remote server
      template:
        src: myintro.j2
        dest: /tmp/all/myintro.txt

    - name: cat myintro.txt jijna 2 file from "ALL"
      command: cat /tmp/all/myintro.txt

    - name: Display terraform output server public IP and 
      debug:
        msg: "terraform output server IP: {{ tf_outputs.webserverip.value }}"

- name: target web host
  hosts: web

  tasks:
    - name: Display web server name and web port
      debug:
        msg: "Web Server Name: {{ server_name }}, Web Port: {{ port_number }}"

    - name: create web directory inside tmp folder
      command: mkdir -p /tmp/web

    - name: copy jinja2 template file to remote server from "WEB"
      template:
        src: myintro.j2
        dest: /tmp/web/myintro.txt

- name: target app host
  hosts: app

  tasks:
    - name: Display app server name and app port
      debug:
        msg: "app Server Name: {{ server_name }}, app Port: {{ port_number }}"

    - name: create app directory inside tmp folder
      command: mkdir -p /tmp/app

    - name: copy jinja2 template file to remote server from "APP"
      template:
        src: myintro.j2
        dest: /tmp/app/myintro.txt




