---
- name: my test run
  hosts: all
  gather_facts: true
  become: true
  vars_files:
    - tf_outputs.json
    - web.yml
    - app.yml
    - all.yml

  tasks:
    - name: Display app server name and app port
      debug:
        msg: "App Server Name: {{ app_server_name }}, App Port: {{ app_port }}"

    - name: Display web server name and web port
      debug:
        msg: "Web Server Name: {{ web_server_name }}, Web Port: {{ web_port }}"

    - name: Display all server name and all port
      debug:
        msg: "All Server Name: {{ all_server_name }}, All Port: {{ all_port }}"

    - name: Display terraform output server public IP and 
      debug:
        msg: "Web Public IP: {{ webserverip }}"

    - name: copy jinja2 template file to remote server
      template:
        src: myintro.j2
        dest: /tmp/myintro.txt

    - name: cat myintro.txt jijna 2 file
      run: cat /tmp/myintro.txt








