name: Terraform + Ansible Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # ---------- AWS AUTH ----------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}   

      # ---------- TERRAFORM ----------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform destroy -auto-approve

      - name: Get EC2 IP
        id: tf_output
        working-directory: terraform
        run: |
          echo "EC2_IP=$(terraform output -raw web_public_ip)" >> $GITHUB_ENV

      # ---------- ANSIBLE ----------
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          pip install ansible

      - name: Setup SSH
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /tmp/mykey.pem
          chmod 600 /tmp/mykey.pem

      - name: Run Ansible Playbook
        working-directory: ansible
        run: |
          ansible-playbook playbook.yml -i inventory/terraform_inventory.py
